/**
 * Slideshow styles
 *
 * @todo
 *  -- we need styles for different screen sizes
 */

#block-views-slideshow-block {
  width: 100%;
}

  #block-views-slideshow-block .view-id-slideshow {
    height: 300px;
  }

    #block-views-slideshow-block .view-id-slideshow .views-row {
      /**
       * This rule is only required when the 'fade' transition is used.
       *
       * @see https://github.com/zurb/foundation/issues/228#issuecomment-3553588
       */
      background: #ccc;
    }

      #block-views-slideshow-block .view-id-slideshow .views-row .orbit-content {      
        margin: 20px 100px;
        /* position: relative; */
      }

        #block-views-slideshow-block .view-id-slideshow .views-row .orbit-image {
          position: absolute;
          z-index: -1;
        }
  
        #block-views-slideshow-block .view-id-slideshow .views-row .orbit-title {
          
        } 
  
        #block-views-slideshow-block .view-id-slideshow .views-row .orbit-body {
          
        }
  
        #block-views-slideshow-block .view-id-slideshow .views-row .orbit-edit-link {
          margin-top: 1em;
          text-align: right;
        }
      
      #block-views-slideshow-block .view-id-slideshow .views-row .orbit-caption {}